main .categories {
  display: flex;
}

main .categories button {
  border: 1px solid #ececec;
  border-radius: 12px;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 10px;

}