<div class='progress content-block'>
  <p>Progress</p>
  <progress value='<%= achievement_progress.progress %>' max='10'></progress>
  <fieldset>
    <div>
      <input type='checkbox' id='test' name='progress' value='test' />
      <label for='test'>Test</label>
    </div>
    <div>
      <input type='checkbox' id='test1' name='progress' value='test1' />
      <label for='test'>Test1</label>
    </div>
  </fieldset>
</div>

